@{
    ViewBag.Title = "JQuery";
}

<h1>JQuery</h1>

<div id="appConfig">
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("/jquery")
    <script>
        $(function () {
            $("#appConfig").html("foo: " + $.config.foo);
        });
    </script>
}